@import './variables';
@mixin cusIcon {
    position: absolute;
    top: 1em;
    left: 1em;
    line-height: 1;
    color: $main-color
}

@mixin inputForm {
    padding: 1em 1em 1em 3.5em;
    border: none;
    outline: none;
    font-size: .8em !important;
}

@mixin MediaQuery ($type) {
    @if $type==$sm {
        @media screen and (min-width: $sm) {
            @content
        }
    }
    @else if $type==$md {
        @media screen and (min-width: $md) {
            @content
        }
    }
    @else if $type==$lg {
        @media screen and (min-width: $lg) {
            @content
        }
    }
    @else if $type==$mlg {
        @media screen and (min-width: $mlg) {
            @content
        }
    }
    @else $type==$xl {
        @media screen and (min-width: $xl) {
            @content
        }
    }
}