@import '../helper/variables';
// 
.btn__main {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-radius: 50px;
    transition: all .3s ease;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 0 3em $main-color inset;
}

.btn__header {
    padding: 1em 1.3em;
    font-weight: 500;
    font-size: 13.5px;
}

.btn__main.btn__header:hover {
    box-shadow: 0 0 0 1px $main-color inset;
    color: $main-color;
}