@import '../helper/variables';
// 
.btn__main {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-radius: 50px;
    transition: all .3s ease;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 0 3em $main-color inset;
}

.btn__header {
    padding: 1.1em 1.5em;
    font-weight: 500;
}

.btn__main.btn__header:hover {
    box-shadow: 0 0 0 1px $main-color inset;
    color: $font-PrimaryColor;
}