@import '../helper/variables';
.card__content {
    &__top {
        display: flex;
        gap: 2em;
        padding-bottom: 2em;
    }
    &__bot {
        display: flex;
        gap: 2em;
        padding-bottom: 2em;
    }
}

.card {
    width: 25% !important;
}