@import '../helper/variables';
.course__content {
    width: 1000px;
    margin: auto;
}

.course__form .form-group {
    border: 1px solid black;
    padding: 5px 5px 5px 30px;
    position: relative;
    i {
        position: absolute;
    }
    input {
        border: none;
        outline: none;
    }
}