@import '../helper/variables';
.course__content {
    width: 1000px;
    margin: auto;
}

.course__form .form-group {
    border: 1px solid black;
    align-items: center;
    input {
        border: none;
        outline: none;
    }
}