@import '../helper/variables';
@import '../helper/mixin';
.footer__content {
    padding: 8em 0;
    background-image: url(../img/footer_background.jpg);
    background-size: cover;
    background-position: center;
    .footer__column {
        padding: 0 40px 5em;
        color: #fff;
        font-size: 13.5px;
        a {
            color: #fff;
        }
        &__item {
            &__title {
                font-weight: 700;
                margin-bottom: 1.5em;
            }
            li {
                margin-bottom: .8em;
            }
        }
        &__item.quickLink {
            li {
                margin-bottom: .8em;
            }
        }
    }
}